@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
@import "varibles";
//settings-style:
body, html {
  min-width: 100%;
  min-height: 100%;
}

html {
  font-size: 16px;
  position: relative;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $body-bg-color;
  font-family: 'Bitter', serif;
  font-size: 14px;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

.icon {
  display: inline-block;
}

a {
  transition: all .2s;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0;
}

a {
  transition: color .2s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

//.container {
////  max-width: 1146px;
////  margin: 0 auto;
////}

.footer {
  margin-top: auto;
}