@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
@import "adaptive";
@import "settings";
@import "mixin";

.ant-layout-sider-children {
  position: fixed;
  width: 200px;
}

.content {
  margin: 0 0;

  &-inner {
    padding: 24px;
    background: #ECECEC;
    min-height: 600px;
  }
}

.footer {
  background: #ECECEC;
  text-align: center;
}

.ant-layout.ant-layout-has-sider
> .ant-layout,
.ant-layout.ant-layout-has-sider >
.ant-layout-content {
  overflow-x: visible;
}

.title {
  color: #8996a6;
  text-shadow: 0 2px 3px;
  margin-bottom: 10px;
}

.search-input {
  width: 600px;
  margin-left: 250px;
}

.modals {
  width: 400px;
  left: 50%;
  margin-left: -200px;
  position: relative;
}

