@import "../../styles/mixin";

.news__item {
  width: 18%;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0,0,0,0.27);
  background: #fff;
  position: relative;
  text-decoration: none;

  .book__adding {
    margin-right: 7px;
  }

  @include desktop {
    width: 23%;
  }
  @include laptop {
    width: 35%;
  }
  @include tablets {
    width: 45%;
  }
  @include phones {
    width: 80%;
  }

  &:hover {
    .news__img:after {
      opacity: 1  ;
    }
    .book__adding {
      opacity: 1  ;
    }

    .news__text {
      h3 {
        color: #84b1ff;
        transition: color .4s;
      }
    }
  }


  div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    //padding: 10px;

    .news__text {
      padding: 5px;
      padding-right: 25px;
      text-decoration: none;
      a {
        text-decoration: none;
      }
    }

    h3 {
      color: #212121;
      font-size: 16px;
      //text-align: center;
      min-height: 50px;

      .news__author {
        color: #616161;
        font-size: 13px;
      }
    }
  }

  .news__img {
    height: 210px;
    width: 100%;
    background: #EEEEEE;
    //border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    position: relative;

    &:after {
      content: '';
      display: block;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: all .25s ease;
      transition: all .25s ease;
      background: rgba(0,0,0,0.4);
      cursor: pointer;
      border-radius: 3px;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }
  }

  .book__adding {
    opacity: 0;
    position: absolute;
    bottom: 20px;
    right: 0px;
    transition: opacity .4s;
  }
}